body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    text-align: center;
    padding: 40px;
    max-width: 800px;
    background: linear-gradient(to bottom, #ffcccc 50%, #ccccff 50%);
    border: 2px solid #000;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}
