body {
    margin: 0;
    height: 100vh;
    display: center;
    justify-content: center;
    align-items: center;
}

.conteudo {
    text-align: center;
    padding: 40px;
    background: linear-gradient(to bottom, #ffcccc 50%, #ccccff 50%);
    /* Cria um gradiente linear com duas cores diferentes */
    border: 2px solid #000; /* Adiciona uma borda para separar as cores */
}

h1 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}
